@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}
:root {
    /* Colors */
    --title-accent: hsl(75, 94%, 57%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);

    --fs-base: 14px;

    --ff-base: 'Inter', sans-serf;
    --fw-normal: 400;
    --fw-bold: 600;
    --fw-heavy: 700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--grey-900);
}